<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nostra Site">
    <meta name="author" content="Scott Hill">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.structure.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.theme.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.js') }}"></script>

    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body role="document">


    {% block nav_global %}
        {% include "navbar.html" %}
    {% endblock %}


    <div id="content" class="container theme-showcase" role="main">
        {% block messages %}{% endblock messages %}
        {% block content %}{% endblock %}
    </div>

{#    <div id="footer" style="font-size:x-small;margin:20px"> Copyright (C) 2015 </div>#}

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
