{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <style>
        #sample-horo { background: #ccc; border: 1px solid #000; padding: 10px; }
    </style>
{% endblock extra_css %}


{% block content %}

    <div style="text-align:center">
        <button id="horo-btn">consult nostradamus</button>
    </div>
    <br/><br/>
    <div id="sample-horo"></div>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript">

        $("#horo-btn").click(function(){
            var nostra_el = $("#sample-horo");
            nostra_el.hide("scale");
            nostra_el.load("{{ url_for('gen') }}", function(responseTxt, statusTxt, xhr){
                if(statusTxt == "error") console.log("Err: " + xhr.status + ": " + xhr.statusText);
            });
            nostra_el.show("scale");
        });

    </script>
{% endblock extra_js %}



