{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower|Tangerine' rel='stylesheet' type='text/css'>
{% endblock extra_css %}

{% block content %}

    <div style="text-align:center">
        <button id="horo-btn">consult nostradamus</button>
    </div>
    <br/><br/>
    <div id="sample-horo"></div>

<div id="outList"></div>

{% endblock %}


{% block extra_js %}

    <script type="text/javascript">
        var app = app || {};
        app.nostra_url = '{{ url_for('gen') }}';
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock extra_js %}



