<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nostra Site">
    <meta name="author" content="Scott Hill">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.structure.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui/jquery-ui.theme.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.js') }}"></script>

    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body role="document">
    {% block nav_global %}{% endblock %}
    <div id="content" class="container theme-showcase" role="main">
        {% block messages %}{% endblock messages %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer" style="font-size:x-small;margin:20px"></div>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>

{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <meta name="description" content="Nostra Site">#}
{#    <meta name="author" content="Scott Hill">#}
{##}
{#    <!-- Bootstrap core CSS -->#}
{#    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">#}
{##}
{#    <!-- Bootstrap theme -->#}
{#    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet">#}
{##}
{#    <!-- Custom styles for this template -->#}
{#    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">#}
{##}
{#    <!-- JQuery UI css -->#}
{#    <link href="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.css') }}" rel="stylesheet">#}
{#    <link href="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.structure.css') }}" rel="stylesheet">#}
{#    <link href="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.theme.css') }}" rel="stylesheet">#}
{##}
{#    <!-- JQuery -->#}
{#    <script src="{{ url_for('static', filename='lib/jquery.js') }}"></script>#}
{##}
{#    <!-- JQuery UI js-->#}
{#    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js') }}"></script>#}
{##}
{#    <!-- Google Analytics-->#}
{#    <script src="{{ url_for('static', filename='js/tracking.js') }}"></script>#}
{##}
{#    <!-- My site default css -->#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}" />#}
{##}
{#    <title>{% block title %}{% endblock %}</title>#}
{##}
{#    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
{#    <!--[if lt IE 9]>#}
{#      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
{#    <![endif]-->#}
{##}
{#    {% block extra-css %}{% endblock extra-css %}#}
{##}
{#</head>#}
{##}
{##}
{#<body role="document">#}
{##}
{#    {% block nav-global %}{% endblock %}#}
{##}
{#    <div id="content" class="container theme-showcase" role="main">#}
{##}
{#        {% block messages %}{% endblock messages %}#}
{##}
{#        {% block content %}{% endblock %}#}
{##}
{#    </div>#}
{##}
{##}
{#<div id="footer" style="font-size:x-small;margin:20px">#}
{##}
{#    </div>#}
{##}
{#    <!-- Bootstrap styles and JQuery -->#}
{#    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.js') }}"></script>#}
{##}
{#    {% block extrajs %}{% endblock extrajs %}#}
{##}
{#</body>#}
{#</html>#}
